.title-app{
  margin-top:54px;
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.58;
  letter-spacing: normal;
  color: #1b2834;
}